{% extends 'base.html.twig' %}


{% block title %}Créer une sortie{% endblock %}



{% block body %}


    <h1>TODO = Ceci est la page auquel il faut créer un formulaire pour créer une sortie </h1>
{% endblock %}
