body{
    background: linear-gradient(#b7dbf6, #2d77fa);
    background-attachment: fixed;
    background-position: center center;
    font-family: 'Source Sans Pro', sans-serif;
    color: midnightblue;
    font-size: large;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    color: #009688;
}

a:hover {
    color: saddlebrown;
}
/* -------- formulaire -------- */
form {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #d6e2f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profil{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #c1dafa;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}
button {
    margin-top: 20px;
}
h1{
    text-align: center;
    margin: 0 auto;
}
.logoSite{
    max-width: 5%;
    min-width: 100px;
    display: block;
    margin: 0 auto;

}


/* -------- Alignement filtres haut de page d'accueil -------- */
.container-filter {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-width: 1200px;
}

#createEvent{
    margin-left: 10%;
}

/* -------- Tableau des sorties de la page d'accueil home -------- */
.tableau {
    margin: auto;
    min-height: 500px;
    height: 500px; /* pour permettre une hauteur variable en fonction du contenu */
    min-width: 1200px;
    width: 80%; /* pour permettre une largeur variable en fonction du contenu */
    overflow: auto; /* pour activer la scrollbar */
    border: 5px solid #009688;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 100%; /* remplir la largeur de la div parent */
    margin-bottom: 20px; /* ajouter un espace entre les tableaux */
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* ajouter une ombre portée */
}

thead th {
    position: sticky; /* fixer l'en-tête du tableau */
    top: 0; /* aligner en haut de la div parent */
    z-index: 1; /* rendre l'en-tête au-dessus des autres éléments */
    background-color: #f2f2f2; /* couleur de fond pour l'en-tête */
    font-weight: bold; /* poids de la police pour l'en-tête */
    text-transform: uppercase; /* mettre le texte en majuscules pour l'en-tête */
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}

/* -------- Image profil user -------- */
.imgUser {
    max-width: 15%;
    min-width: 140px;
    border: 5px solid #009688;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

/* -------- Bouton connexion (page d'accueil logout) -------- */
.login-button {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #fa8d41, #f44336);
    border: none;
    border-radius: 50px;
    padding: 16px 32px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.login-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.login-button:hover:before {
    transform: translateY(0);
}

.login-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    z-index: -2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.login-button:hover:after {
    opacity: 1;
}

.login-button span {
    position: relative;
    z-index: 3;
}

.login-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
}

.login-button.green {
    background: linear-gradient(to right, #26a69a, #009688);
}

/* -------- Navbar -------- */
nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem; /*pourcentage de taille en fonction du zoom 1 rem = 10px pour zoom = 100%*/
}

/* -------- Design message d'erreur si login ou password erroné -------- */
.error-login-message {
    border: 2px solid #FF4D4D;
    background-color: #FFCDD2;
    color: #FF4D4D;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #FF4D4D;
    font-family: 'Helvetica', sans-serif;
}

/* -------- Message flash update profil user -------- */
.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    color: #132135;
}

.flash-success {
    border: 2px solid #59B159;
    background-color: palegreen;
    color: #59B159;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #59B159;
    font-family: 'Helvetica', sans-serif;
}

.flash-error {
    border: 2px solid #FF4D4D;
    background-color: #FFCDD2;
    color: #FF4D4D;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #FF4D4D;
    font-family: 'Helvetica', sans-serif;
}

/* -------- Design affichage d'une sortie (show) : gestion des deux blocs "infos sortie" et "coordonnées" -------- */
.event-block-left, .event-block-right {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-right: 5%;
}

.event-block-right {
    margin-right: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*-------------------------Formulaire créer une sortie ------------------------------------------------*/
.container {
    max-width: 1500px;
    margin: auto;
    padding: 5px;
}

/*label {*/
/*    display: block;*/
/*}*/

/*input,*/
/*select {*/
/*    margin-bottom: 1rem;*/
/*    box-sizing: border-box;*/
/*    width: 200px;*/
/*    max-width: 50%;*/
/*}*/

textarea{
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 400px;
    height: 100px;
}


/*-------------------------------------Footer--------------------------------------------*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

