{% extends "base.html.twig" %}

{% block title %}

    {{ parent() }} | 404
{% endblock %}

{% block body %}
    <h1>Page not found</h1>
    <h2>404 !</h2>
    <h3> {{ exception.message }}</h3>

    <p>
        La page n'a pas été trouvée. <br> Clique sur ce lien pour retourner sur la page d'accueil <br><a href="{{ path('main_home') }}">Accueil</a>.
    </p>


{% endblock %}