{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h2>{{ event.planner.name }}</h2>
    <div> FirstName : {{ event.planner.firstName }} </div>
    <div> phone:{{ event.planner.phone }} </div>
    <div>emil :{{ event.planner.email }} </div>



</div>


{% endblock %}

{% block title %}

{% endblock %}

