{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div>
    <h2>{{ user.name }}</h2>

            <div> FirstName : {{ user.firstName }} </div>
            <div> phone:{{ user.phone }} </div>
            <div>email:{{ user.email }} </div>

        </div>
{% endblock %}

